{% extends "layout.html" %}

{% block scripts %}
    <script src="static/options.js"></script>
{% endblock %}

{% block title %}
    Vehicle Estimate
{% endblock %}

{% block heading %}
    Depreciation Estimate: Select Vehicle
{% endblock %}

{% block main %}
    <form action="/estimate" method="post">
        <div class="form-group">
            <select id="make" autofocus class="form-control" name="make">
                <option selected value="none">Select Make</option>

                {# Fill in list of make options and set to selected if make == qmake (selection via query string) #}
                {% for make in makes %}
                    {% if make == qmake %}
                        <option value={{make}} selected>{{make}}</option>
                    {% else %}
                        <option value={{make}}>{{make}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select id="model" class="form-control" name="model">

                {# If arrived at page using query string, selected model set as default #}
                {% if qmodel %}
                    <option selected value={{qmodel}}>{{qmodel}}</option>
                {% else %}
                    <option selected value="none">Select Model</option>
                {% endif %}
            </select>
        </div>
        <div class="form-group">
            <select id="model_year" class="form-control" name="model_year">
                <option selected value="none">Select Vehicle's Model Year</option>
                {% for year in years %}
                    <option value={{year}}>{{year}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
{% endblock %}